@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<!-- Footer -->
<footer id="footer">
    <div id="footer-top" class="container">
        <div class="row">
            <div class="block col-sm-3">
                <a href="/"><img src="~/Assets/Images/WMPLLC.png" width="140" alt="Willard Properties Logo" /></a>
                <br><br>
                <p>Willard Properties is a limited liabiliy company focused on providing family-oriented housing in Willard, Missouri.</p>
            </div>
            <div class="block col-sm-3">
                <h3>Contact Info</h3>
                <ul class="footer-contacts">
                    <li><i class="fa fa-map-marker"></i> 6092 West Farm Road 114, Willard, Missouri</li>
                    <li><i class="fa fa-phone"></i> 417-880-7096</li>
                    <li><i class="fa fa-envelope"></i> <a href="mailto:willardmopropertiesllc@gmail.com">willardmopropertiesllc@gmail.com</a></li>
                </ul>
            </div>
            <div class="block col-sm-3">
                <h3>Helpful Links</h3>
                <ul class="footer-links">
                    <li><a href="../../../../Downloads/Cozy_v1.4/Cozy HTML5 Template/properties-list.html">All Properties Available</a></li>
                    <li><a href="../../../../Downloads/Cozy_v1.4/Cozy HTML5 Template/pricing-tables.html">See our Pricing Tables</a></li>
                </ul>
            </div>
            <div class="block col-sm-3">
                <h3>Latest Listings</h3>
                <ul class="footer-listings">
                    <li>
                        <div class="image">
                            <a href="../../../../Downloads/Cozy_v1.4/Cozy HTML5 Template/properties-detail.html"><img src="http://placehold.it/760x670" alt="" /></a>
                        </div>
                        <p><a href="../../../../Downloads/Cozy_v1.4/Cozy HTML5 Template/properties-detail.html">Luxury Apartment with great views<span>+</span></a></p>
                    </li>
                    <li>
                        <div class="image">
                            <a href="../../../../Downloads/Cozy_v1.4/Cozy HTML5 Template/properties-detail.html"><img src="http://placehold.it/760x670" alt="" /></a>
                        </div>
                        <p><a href="../../../../Downloads/Cozy_v1.4/Cozy HTML5 Template/properties-detail.html">Stunning Villa with 5 bedrooms<span>+</span></a></p>
                    </li>
                    <li>
                        <div class="image">
                            <a href="../../../../Downloads/Cozy_v1.4/Cozy HTML5 Template/properties-detail.html"><img src="http://placehold.it/760x670" alt="" /></a>
                        </div>
                        <p><a href="../../../../Downloads/Cozy_v1.4/Cozy HTML5 Template/properties-detail.html">Recent construction with 3 bedrooms.<span>+</span></a></p>
                    </li>
                </ul>
            </div>
        </div>
    </div>


    <!-- BEGIN COPYRIGHT -->
    <div id="copyright">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    &copy; 2018 Willard Properties LLC - All rights reserved. Developed by Nathan Steinbaugh, Jake wakefield, and Laura creed.

                    <!-- BEGIN SOCIAL NETWORKS -->
                    <ul class="social-networks">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google"></i></a></li>
                        <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                        <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                        <li><a href="#"><i class="fa fa-rss"></i></a></li>
                    </ul>
                    <!-- END SOCIAL NETWORKS -->

                </div>
            </div>
        </div>
    </div>
    <!-- END COPYRIGHT -->
</footer>
<!-- END FOOTER -->