@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<!-- BEGIN FOOTER -->
<footer id="footer">
    <div id="footer-top" class="container">
        <div class="row">
            <div class="block col-sm-3">
                <a href="/"><img src="~/assets/Images/WPICON.png" width="140" alt="WMP Icon" /></a>
                <br><br>
                <p>Willard Missouri Properties LLC is here to help you find a great community to be apart of. Check our website for current open rental listings.</p>
            </div>
            <div class="block col-sm-4">
                <h3>Contact Info</h3>
                <ul class="footer-contacts">
                    <li><i class="fa fa-map-marker"></i> Willard, Missouri</li>
                    <li><i class="fa fa-phone"></i> 417 880 7096</li>
                    <li><i class="fa fa-envelope"></i> <a href="mailto:WillardMoPropertiesLLC@gmail.com">WillardMoPropertiesLLC@gmail.com</a></li>
                </ul>
            </div>
            <div class="block col-sm-3">
                <h3>Helpful Links</h3>
                <ul class="footer-links">
                    <li><a href="/home/contact.cshtml">Maintenance Request</a></li>
                    <li><a href="/home/propertylistings.cshtml">Properties</a></li>
                    <li><a href="/home/faq.cshtml">FAQS</a></li>
                </ul>
            </div>
        </div>
    </div>


    <!-- BEGIN COPYRIGHT -->
    <div id="copyright">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    &copy; 2017-2018 Willard Missouri Properties LLC. All rights reserved.

                    <!-- BEGIN SOCIAL NETWORKS -->
                    <ul class="social-networks">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-google"></i></a></li>

                    </ul>
                    <!-- END SOCIAL NETWORKS -->

                </div>
            </div>
        </div>
    </div>
    <!-- END COPYRIGHT -->

</footer>
<!-- END FOOTER -->