@{
    ViewBag.Title = "Properties - Willard Properties";
}
<!-- BEGIN CONTENT WRAPPER -->
<div class="content">
    <div class="container">
        <div class="row">

            <!-- BEGIN MAIN CONTENT -->
            <div class="main col-sm-12">

                <select class="chosen-select" tabindex="-1" multiple="" data-placeholder="Searched Parameters">
                    <option value=""> </option>
                    <option selected value="Residential">Residential</option>
                    <option selected value="rent">Rent</option>
                    <option selected value="3 bedrooms">3 bedrooms</option>
                    <option selected value="2 bathrooms">2 bathrooms</option>
                </select>

                <!-- BEGIN PROPERTY LISTING -->
                <div id="property-listing" class="grid-style1 clearfix">
                    <div class="row">
                        <div class="item col-sm-4">
                            <!-- Set width to 4 columns for grid view mode only -->
                            <div class="image">
                                <a href="200ERobbersonStreet.html">
                                    <h3>200 East Robberson Street </h3>
                                    <span class="location">Willard, Missouri 65781</span>
                                </a>
                                <img src="~/assets/Properties/200 E Robberson Street.jpg" alt="200 E Robberson Street" />
                            </div>
                            <div class="price">
                                <i class="fa fa-home"></i>For Rent
                                <span>$625</span>
                            </div>
                            <ul class="amenities">
                                <li><i class="icon-area"></i> 800 Sq Ft</li>
                                <li><i class="icon-bedrooms"></i> 2</li>
                                <li><i class="icon-bathrooms"></i> 1</li>
                            </ul>
                        </div>

                        <div class="item col-sm-4">
                            <!-- Set width to 4 columns for grid view mode only -->
                            <div class="image">
                                <a href="310PershingStreet.html">
                                    <h3>310 Pershing Street </h3>
                                    <span class="location">Willard, Missouri 65781</span>
                                </a>
                                <img src="~/assets/Properties/310 Pershing Street.jpg" alt="310 Pershing Street" />
                            </div>
                            <div class="price">
                                <i class="fa fa-home"></i>For Rent
                                <span>$500</span>
                            </div>
                            <ul class="amenities">
                                <li><i class="icon-area"></i> 600 Sq Ft</li>
                                <li><i class="icon-bedrooms"></i> 1</li>
                                <li><i class="icon-bathrooms"></i> 1</li>
                            </ul>
                        </div>

                        <div class="item col-sm-4">
                            <!-- Set width to 4 columns for grid view mode only -->
                            <div class="image">
                                <a href="108MillStreet.html">
                                    <h3>108 Mill Street</h3>
                                    <span class="location">Willard, Missouri 65781</span>
                                </a>
                                <img src="~/assets/Properties/108 Mill Street.jpg" alt="108 Mill Street" />
                            </div>
                            <div class="price">
                                <i class="fa fa-home"></i>For Rent
                                <span>$650</span>
                            </div>
                            <ul class="amenities">
                                <li><i class="icon-area"></i> 1,100 Sq Ft</li>
                                <li><i class="icon-bedrooms"></i> 3</li>
                                <li><i class="icon-bathrooms"></i> 1</li>
                            </ul>
                        </div>
                    </div>


                    <!-- END PROPERTY LISTING -->
                    <!-- BEGIN PAGINATION -->
                    <div class="pagination">
                        <ul id="previous">
                            <li><a href="#"><i class="fa fa-chevron-left"></i></a></li>
                        </ul>
                        <ul>
                            <li class="active"><a href="PropertyListings.html">1</a></li>
                            <li class="active"><a href="PropertyListings2.html">2</a></li>
                        </ul>
                        <ul id="next">
                            <li><a href="#"><i class="fa fa-chevron-right"></i></a></li>
                        </ul>
                    </div>
                    <!-- END PAGINATION -->

                </div>
                <!-- END MAIN CONTENT -->

            </div>
        </div>
    </div>
    <!-- END CONTENT WRAPPER -->
</div>