@{
    ViewBag.Title = "Properties - Willard Properties";
}
<!-- BEGIN CONTENT WRAPPER -->
<div class="content">
    <div class="container">
        <div class="row">

            <!-- BEGIN MAIN CONTENT -->
            <div class="main col-sm-12">

                <select class="chosen-select" tabindex="-1" multiple="" data-placeholder="Searched Parameters">
                    <option value=""> </option>
                    <option selected value="Residential">Residential</option>
                    <option selected value="rent">Rent</option>
                    <option selected value="3 bedrooms">3 bedrooms</option>
                    <option selected value="2 bathrooms">2 bathrooms</option>
                </select>

                <!-- BEGIN PROPERTY LISTING -->
                <div id="property-listing" class="grid-style1 clearfix">
                    <div class="row">
                        <div class="item col-sm-4">
                            <!-- Set width to 4 columns for grid view mode only -->
                            <div class="image">
                                <a href="7030WestDogwood.html">
                                    <h3>7030 West Dogwood Street</h3>
                                    <span class="location">Springfield, Missouri 65803</span>
                                </a>
                                <img src="~/assets/Properties/7030 West Dogwood Street.jpg" alt="7030 West Dogwood Street" />
                            </div>
                            <div class="price">
                                <i class="fa fa-home"></i>For Rent
                                <span>$800</span>
                            </div>
                            <ul class="amenities">
                                <li><i class="icon-area"></i> 1250 Sq Ft</li>
                                <li><i class="icon-bedrooms"></i> 3</li>
                                <li><i class="icon-bathrooms"></i> 2</li>
                            </ul>
                        </div>

                        <div class="item col-sm-4">
                            <!-- Set width to 4 columns for grid view mode only -->
                            <div class="image">
                                <a href="WestFarmRoad106UnitA.html">
                                    <h3>West Farm Road 106 Unit A</h3>
                                    <span class="location">Springfield, Missouri 65803</span>
                                </a>
                                <img src="~/assets/Properties/West Farm Road 106 Unit A.jpg" alt="Farm Road 106 Unit A" />
                            </div>
                            <div class="price">
                                <i class="fa fa-home"></i>For Rent
                                <span>$500</span>
                            </div>
                            <ul class="amenities">
                                <li><i class="icon-area"></i> 950 Sq Ft</li>
                                <li><i class="icon-bedrooms"></i> 2</li>
                                <li><i class="icon-bathrooms"></i> 1</li>
                            </ul>
                        </div>

                        <div class="item col-sm-4">
                            <!-- Set width to 4 columns for grid view mode only -->
                            <div class="image">
                                <a href="WestFarmRoad106UnitB.html">
                                    <h3>West Farm Road 106 Unit B</h3>
                                    <span class="location">Springfield, Missouri 65803</span>
                                </a>
                                <img src="~/assets/Properties/West Farm Road 106 Unit B.jpg" alt="Farm Road 106 Unit B" />
                            </div>
                            <div class="price">
                                <i class="fa fa-home"></i>For Rent
                                <span>$650</span>
                            </div>
                            <ul class="amenities">
                                <li><i class="icon-area"></i> 950 Sq Ft</li>
                                <li><i class="icon-bedrooms"></i> 3</li>
                                <li><i class="icon-bathrooms"></i> 1</li>
                            </ul>
                        </div>
                    </div>

                    <div class="row">
                        <div class="item col-sm-4">
                            <!-- Set width to 4 columns for grid view mode only -->
                            <div class="image">
                                <a href="3274NStateHwyABUnitA.html">
                                    <h3>3274 North State Highway AB Unit A </h3>
                                    <span class="location">Springfield, Missouri 65803</span>
                                </a>
                                <img src="~/assets/Properties/3274 N State Highway AB unit a.jpg" alt=" Highway AB Unit A" />
                            </div>
                            <div class="price">
                                <i class="fa fa-home"></i>For Rent
                                <span>$500</span>
                            </div>
                            <ul class="amenities">
                                <li><i class="icon-area"></i> 950 Sq Ft</li>
                                <li><i class="icon-bedrooms"></i> 2</li>
                                <li><i class="icon-bathrooms"></i> 1</li>
                            </ul>
                        </div>

                        <div class="item col-sm-4">
                            <!-- Set width to 4 columns for grid view mode only -->
                            <div class="image">
                                <a href="3274NStateHwyABUnitB.html">
                                    <h3>3274 North State Highway AB Unit B</h3>
                                    <span class="location">Springfield, Missouri 65803</span>
                                </a>
                                <img src="~/assets/Properties/3274 N State Highway AB unit b.jpg" alt="Highway AB Unit B" />
                            </div>
                            <div class="price">
                                <i class="fa fa-home"></i>For Rent
                                <span>$500</span>
                            </div>
                            <ul class="amenities">
                                <li><i class="icon-area"></i> 950 Sq Ft</li>
                                <li><i class="icon-bedrooms"></i> 2</li>
                                <li><i class="icon-bathrooms"></i> 1</li>
                            </ul>
                        </div>

                        <div class="item col-sm-4">
                            <!-- Set width to 4 columns for grid view mode only -->
                            <div class="image">
                                <a href="200NewMelvilleRoad.html">
                                    <h3>200 New Melville Road</h3>
                                    <span class="location">Willard, Missouri 65781</span>
                                </a>
                                <img src="~/assets/Properties/200 New Melville Road .jpg" alt="200 New Melville" />
                            </div>
                            <div class="price">
                                <i class="fa fa-home"></i>For Rent
                                <span>$800</span>
                            </div>
                            <ul class="amenities">
                                <li><i class="icon-area"></i> 1,300 Sq Ft</li>
                                <li><i class="icon-bedrooms"></i> 3</li>
                                <li><i class="icon-bathrooms"></i> 1.5</li>
                            </ul>
                        </div>
                    </div>

                    <div class="row">
                        <div class="item col-sm-4">
                            <!-- Set width to 4 columns for grid view mode only -->
                            <div class="image">
                                <a href="203KingsDrive.html">
                                    <h3>203 Kings Drive </h3>
                                    <span class="location">Willard, Missouri 65781</span>
                                </a>
                                <img src="~/assets/Properties/203 Kings Drive Willard.jpg" alt="203 Kings Drive" />
                            </div>
                            <div class="price">
                                <i class="fa fa-home"></i>For Rent
                                <span>$800</span>
                            </div>
                            <ul class="amenities">
                                <li><i class="icon-area"></i> 1,800 Sq Ft</li>
                                <li><i class="icon-bedrooms"></i> 3</li>
                                <li><i class="icon-bathrooms"></i> 2</li>
                            </ul>
                        </div>

                        <div class="item col-sm-4">
                            <!-- Set width to 4 columns for grid view mode only -->
                            <div class="image">
                                <a href="402HowardStreet.html">
                                    <h3>402 Howard Street</h3>
                                    <span class="location">Willard, Missouri 65781</span>
                                </a>
                                <img src="~/assets/Properties/402 Howard Street Willard.jpg" alt="402 Howard Street" />
                            </div>
                            <div class="price">
                                <i class="fa fa-home"></i>For Rent
                                <span>$850</span>
                            </div>
                            <ul class="amenities">
                                <li><i class="icon-area"></i> 1,900 Sq Ft</li>
                                <li><i class="icon-bedrooms"></i> 4</li>
                                <li><i class="icon-bathrooms"></i> 3</li>
                            </ul>
                        </div>

                        <div class="item col-sm-4">
                            <!-- Set width to 4 columns for grid view mode only -->
                            <div class="image">
                                <a href="202SouthStreet.html">
                                    <h3>202 South Street </h3>
                                    <span class="location">Willard, Missouri 65781</span>
                                </a>
                                <img src="~/assets/Properties/202 South Street.jpg" alt="202 South Street" />
                            </div>
                            <div class="price">
                                <i class="fa fa-home"></i>For Rent
                                <span>$650</span>
                            </div>
                            <ul class="amenities">
                                <li><i class="icon-area"></i> 1,100 Sq Ft</li>
                                <li><i class="icon-bedrooms"></i> 3</li>
                                <li><i class="icon-bathrooms"></i> 2</li>
                            </ul>
                        </div>
                    </div>
                </div>


                <!-- END PROPERTY LISTING -->
                <!-- BEGIN PAGINATION -->
                <div class="pagination">
                    <ul id="previous">
                        <li><a href="#"><i class="fa fa-chevron-left"></i></a></li>
                    </ul>
                    <ul>
                        <li class="active"><a href="PropertyListings.html">1</a></li>
                        <li class="active"><a href="PropertyListings2.html">2</a></li>
                    </ul>
                    <ul id="next">
                        <li><a href="#"><i class="fa fa-chevron-right"></i></a></li>
                    </ul>
                </div>
                <!-- END PAGINATION -->

            </div>
            <!-- END MAIN CONTENT -->

        </div>
    </div>
</div>
<!-- END CONTENT WRAPPER -->