<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
	<meta name="keywords" content="real estate, responsive, retina ready, modern html5 template, bootstrap, css3" />
	<meta name="description" content="Willard Properties provides family oriented housing in Willard Missouri" />
	<meta name="author" content="Willard Properties" />
	
	<!-- Mobile Meta Tag -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

	<!-- Fav and touch icons -->
	<link rel="shortcut icon" type="image/x-icon" href="~/assets/Images/fav_touch_icons/favicon.ico" />
	<link rel="apple-touch-icon" href="~/assets/Images/fav_touch_icons/apple-touch-icon.png" />
	<link rel="apple-touch-icon" sizes="72x72" href="~/assets/Images/fav_touch_icons/apple-touch-icon-72x72.png" />
	<link rel="apple-touch-icon" sizes="114x114" href="~/assets/Images/fav_touch_icons/apple-touch-icon-114x114.png" />
	
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>@ViewBag.Title</title>

    <!-- Google Web Font -->
    <link href="http://fonts.googleapis.com/css?family=Raleway:300,500,900%7COpen+Sans:400,700,400italic" rel="stylesheet" type="text/css" />

    <link href="~/content/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/content/settings.css" media="screen" />
    <link href="~/content/style.css" rel="stylesheet" />

    <script src="~/scripts/modernizr-2.8.1.min.js"></script>

    
    @*<environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-theme.css" />
        <link rel="stylesheet" href="~/css/style.css" />
        <link rel="stylesheet" href="~/css/settings.css"  />
        <link rel="stylesheet" href="~/css/settings-ie8.css" />
        <link rel="stylesheet" href="~/css/cozy-real-estate-font.css" />
        <link rel="stylesheet" href="~/css/font-awesome.css" />
        <link rel="stylesheet" href="~/css/owl.transitions.css" />
        <script src="~/scripts/modernizr-2.8.1.min.js"></script>
    </environment>
    <environment exclude="Development">
        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="~/css/site.min.css"  />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"  />

        <!-- Custom styles for this template -->
        <script src="~/scripts/modernizr.js" ></script>
    </environment>*@

  </head>
  <body>
      <!-- BEGIN HEADER -->
      <header id="header">
          <div id="nav-section">
              <div class="container">
                  <div class="row">
                      <div class="col-sm-12">
                          <a href="/" class="nav-logo"><img src="~/assets/Images/WMPLLC.png" /></a>

                          <!-- BEGIN SEARCH -->
                          <div id="sb-search" class="sb-search">
                              <form>
                                  <input class="sb-search-input" placeholder="Search..." type="text" value="" name="search" id="search">
                                  <input class="sb-search-submit" type="submit" value="">
                                  <i class="fa fa-search sb-icon-search"></i>
                              </form>
                          </div>
                          <!-- END SEARCH -->
                          <!-- BEGIN MAIN MENU -->
                          <nav class="navbar">
                              <button id="nav-mobile-btn"><i class="fa fa-bars"></i></button>

                              <ul class="nav navbar-nav">
                                  <li class="dropdown">
                                      <a href="/" data-toggle="dropdown" data-hover="dropdown">Home</a>
                                      <ul class="dropdown-menu"></ul>
                                  </li>

                                  <li class="dropdown">
                                      <a class="active" asp-controller="Home" asp-action="PropertyListings" data-toggle="dropdown" data-hover="dropdown">Properties</a>
                                      <ul class="dropdown-menu"></ul>
                                  </li>

                                  <li class="dropdown">
                                      <a href="/home/faq.cshtml" data-toggle="dropdown" data-hover="dropdown">FAQs</a>

                                  <li class="dropdown">
                                      <a class="active" asp-controller="Home" asp-action="About" data-toggle="dropdown" data-hover="dropdown">About Us</a>
                                      <ul class="dropdown-menu"></ul>
                                  </li>

                                  <li><a asp-controller="Home" asp-action="Contact">Contact</a></li>
                              </ul>
                          </nav>
                          <!-- END MAIN MENU -->

                      </div>
                  </div>
              </div>
          </div>
      </header>
      <!-- END HEADER -->
      <div class="body-content">
          @RenderBody()
          @Html.Partial("_Footer")
      </div>
      @*<environment include="Development">
          <script src="~/lib/jquery/dist/jquery.js" ></script>
          <script src="~/lib/bootstrap/dist/js/bootstrap.js" ></script>
          <script src="~/scripts/scripts.js" ></script>
          <script src="~/scripts/common.js" ></script>
          <script src="~/scripts/variables.js" ></script>
          <script src="~/scripts/jquery.prettyPhoto.js" ></script>
          <script src="~/scripts/owl.carousel.min.js" ></script>
          <script src="~/scripts/infobox.min.js" ></script>
          <script src="~/scripts/agencies.js" ></script>
          <script src="~/scripts/jquery.themepunch.plugins.min.js" ></script>
          <script src="~/scripts/jquery.themepunch.revolution.min.js" ></script>
          <script src="~/scripts/chosen.jquery.min.js" ></script>
          <script src="~/scripts/jquery.themepunch.tools.min.js" ></script>
          <script src="~/scripts/jqBootstrapValidation.js" ></script>
          <script src="~/scripts/common/bootstrap-hover-dropdown.min.js" ></script>


      </environment>
      <environment exclude="Development">
           Bootstrap core JavaScript 
          <script src="~/scripts/common/jquery.js" asp-append-version="true"></script>
          <script src="~/scripts/site.min.js" asp-append-version="true"></script>
      </environment>*@

      <!-- Libs -->
      <script src="~/scripts/common.js"></script>
      <script src="~/scripts/owl.carousel.min.js"></script>
      <script src="~/scripts/chosen.jquery.min.js"></script>
      <script src="http://maps.google.com/maps/api/js?sensor=false" type="text/javascript"></script>
      <script src="~/scripts/infobox.min.js"></script>

      <!-- jQuery Revolution Slider -->
      <script type="text/javascript" src="~/scripts/jquery.themepunch.tools.min.js"></script>
      <script type="text/javascript" src="~/scripts/jquery.themepunch.revolution.min.js"></script>

      <!-- Template Scripts -->
      <script src="~/scripts/variables.js"></script>
      <script src="~/scripts/scripts.js"></script>

      <!-- Agencies list -->
      <script src="~/scripts/agencies.js"></script>

      @RenderSection("scripts", required: false)
  </body>
</html>
